@font-face {
    font-family: 'QuizaPro-ExtraBold';
    src: url('QuizaPro-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gerbera';
    src: url('Gerbera-Bold.woff2') format('woff2'),
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gerbera';
    src: url('Gerbera.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}